tqdm
--extra-index-url https://download.pytorch.org/whl/cu128
torch 
torchvision   
ultralytics
fiftyone
tensorboard
pyyaml
pynvml
wmi


scikit-learn==1.6.1
mlflow==2.22.1

# Automatic download of YOLO11n just to perform AMP (Automatic Mixed Precision) checks